@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    
}

body {
    background-color: black;
   font-size: 16px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

.container {
    width: 500px;
    margin: auto;
}

p {
    font-weight: bold;
}

ol {
    width: 500px;
    background-color: gray;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    background-color: gray
}

table, th, td {
    text-align: left;
    border: 1px solid white;
}

td {
    text-decoration: line-through;
}

.opac {
    opacity: 0.2;
}

.hobby {
    background-color: #006699;
}

.exp {
    background-color: #006699;
}

button {
    background-color: green;
}